<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Income</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Update Income</h2>
    <form th:action="@{/user/income/update/{id}(id=${income.id})}" th:object="${income}" method="post">
        <div class="form-group">
            <label for="description">Source</label>
            <input type="text" class="form-control" id="description" th:field="*{source}" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" th:field="*{amount}" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" th:field="*{category}" required>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"
                        th:selected="${category.id == income.category?.id}">
                </option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update income</button>
        <a th:href="@{/user/income}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
